.Inicio1{
    background-image: url(/public/images/background.svg);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 100vh; 
    width: 100vw;
  }
.Inicio1 img{
    opacity: 0.1;
}