.Inicio1{
    background-image: url(/images/background.svg);
    background-size: contain; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    background-attachment: fixed; /* La imagen de fondo no se desplaza con el contenido */
    height: 100vh; /* Ajusta la altura según tus necesidades */
    width: 100vw;
  }
.Inicio1 img{
    opacity: 0.1;
}