.noUser{
  width: 100%;
  height: 932px;
  display: block;
  margin: 10px;
}

.option{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botonI {
    background-color: #FF4700;
    width: 370px;
    height: 67px;
    border-radius: 12px;
    color: white;
    font-size: 24px;
  }