.pastel {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
    display: block; /* Hacer que la imagen sea un bloque para aplicar márgenes y centrar */
    margin-left: auto;
    margin-right: auto;
  }