.cantidadB{
    width: 80px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid #FC7846;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.masomenos{
    display: flex;
    flex-direction: column;
}

.masomenos a{
    margin: -3px;
}

/*.masomenos a img{
    width: 3px;
    height: 3px;
}*/

.cantidadB p{
    font-size: 18px;
    font-weight: 500;
}
