.cart-item-header {
  display:flex;
  justify-content: space-between;
  align-items:normal ;
  

 
}

.cart-item-title {
  font-weight: bold;    
  color: #000000;
  font-size: 1rem;
  position:center;
  flex: 8; 
  margin-left: 11px ;
}

.precio_desc{
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-left: 11px;
  align-items: stretch;

}


.cart-item-price {
  
  font-size: 1rem;
  color: #E53935; 
  font-weight: bold; 
  padding: 0.25\rem 0.5rem; 
  background-color: #ffebee; 
  border-radius: 5px; 
  margin-left: 20px;
  
}
.precio{
margin-left: 1px;

}

.cart-item-quantity 
{
  color:#505050;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;

}