.promodesc{
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid 
    #dcd2d2;
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 5px 5px rgb(193, 193, 193);
}

.promodesc .especific{
    display: flex;
    justify-content: space-between;
}

.promodesc h4{
    font-size: 22px;
    font-weight: 400;
}

.promodesc .especific p:nth-child(1){
    color: #505050;
    font-size: 16px;
}

.promodesc .especific p:nth-child(2){
    color: #FF4700;
    font-size: 20px;
    font-weight: 600;
}