.productoView {
    text-align: center; 
}
.imge img {
    margin-top: 20px; 
    margin-bottom: 20px;
    max-width: 100%; 
    height: auto; 
}
.productoView h2 {
    color: #333; 
    font-size: 1.5em; 
    margin-top: 10px; 
}
.productoView h3 {
    color: #666; 
    font-size: 1.2em; 
    margin-top: 5px; 
}
/*.descripcion-titulo {
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: auto;
  }
  
.descripcion-contenido {
    color: black;
    margin-bottom: 20px;
    width: 390px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
  }
*/