.producto {
    width: 380px;
    height: 130px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    left: 26px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.foto {
    width: 113px;
    height: 88px;
    border: 0;
    margin: 0;
    left: 39px;
    margin-left: 10px;
}
.foto img{
    border-radius: 20px;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}
.precio p{
    color: #FF4700;
}
.informacion  {
    width:100%;
    margin-right: 10px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}