* {
    font-family:'Inter', sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-family:'Inter', sans-serif;
}

.titulo {
    width: 331px;
    height: 42px;
    left: 46px;
    top: 100px
}