.cardButtons{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    width: 398px;
    height: 41px;
}

.titulo{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.titulo h2{
    font-weight: 500;
    font-size: 32px;
}