*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  /*height: 902px;
  width: 430px;*/
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}